---
import HardSkills from "../components/HardSkills.astro";
import Header from "../components/Header.astro";
import Links from "../components/Links.astro";
import SocialMedia from "../components/SocialMedia.astro";
import Layout from "../layouts/Layout.astro";

const links = [
  {
    link: "https://google.com",
    title: "Meu Portfólio",
  },
];

const socialMedias = [
  {
    link: "https://github.com/AudreyBruno",
    icon: "fab fa-github",
  },
  {
    link: "https://linkedin.com/in/audreysiqueira",
    icon: "fab fa-linkedin-in",
  },
];
---

<Layout>
  <!-- <LoadingScreen client:only="react" /> -->

  <div class="mx-auto max-w-md bg-black rounded-2xl p-4">
    <div class="space-y-4">
      <Header />

      <HardSkills />

      {links.map((link) => <Links link={link.link} title={link.title} />)}

      <div class="grid grid-cols-2 gap-2">
        {
          socialMedias.map((socialMedia) => (
            <SocialMedia link={socialMedia.link} icon={socialMedia.icon} />
          ))
        }
      </div>

      <div class="flex flex-col items-center gap-2">
        <span class="text-[#fafafab4] text-base pt-4">Estou escutando...</span>
        <iframe
          style="rounded-lg"
          src="https://open.spotify.com/embed/playlist/6IZPB1SNtMeW85YcGHlDmf"
          width="100%"
          height="152"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy"></iframe>
      </div>
    </div>
  </div>
</Layout>
