<div
  class="bg-[#151515] p-4 rounded-lg flex justify-between items-center hover:translate-y-[-2px] transition-transform"
>
  <div class="flex items-center gap-4">
    <div class="w-12 h-12 rounded-lg border-2 border-gray-200 overflow-hidden">
      <img
        src="https://raw.githubusercontent.com/AudreyBruno/link-bio/refs/heads/main/public/perfil.jpg"
        alt="user"
        class="w-full h-full object-cover"
      />
    </div>
    <div>
      <h1 class="text-xl font-bold text-white">Audrey Siqueira</h1>
      <span class="text-sm text-gray-400">Desenvolvedor FullSatck</span>
    </div>
  </div>
  <div class="w-9 animate-spin">
    <img
      src="https://raw.githubusercontent.com/AudreyBruno/link-bio/refs/heads/main/public/smile-icon.png"
      alt="icon"
      class="w-full h-full"
    />
  </div>
</div>
