---
const { link, icon } = Astro.props;
---

<a
  class="bg-[#151515] p-4 rounded-lg flex items-center justify-center hover:translate-y-[-2px] transition-transform"
  href={link}
>
  <i class={icon + " text-4xl text-white"}></i>
</a>
